<h1>Days of month</h1>
<form [formGroup]="form" (ngSubmit)="generate()">
  <div fxLayout="row" fxLayoutGap="16px">
    <mat-form-field>
      <mat-select placeholder="Month" formControlName="month">
        <mat-option *ngFor="let month of months" [value]="month.data">
          {{ month.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Year" formControlName="year" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        placeholder="Excluded days"
        formControlName="excludedDays"
      />
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" [disabled]="form.invalid">
    Generate
  </button>
</form>
